html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

p {
  text-align: center;
}

/* Underline */

.underline-from-center {
  background-color: rgb(189, 189, 189);
  width: 300px;
  height: 50px;
  position: relative;
}

.underline-from-center::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: rgb(31, 126, 214);
  visibility: hidden;
  transform: scaleX(0);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.underline-from-center:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Bounce To Right */

.bounce-to-right {
  background-color: rgb(189, 189, 189);
  width: 300px;
  height: 50px;
  position: relative;
}

.bounce-to-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(31, 126, 214);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left center;
}

.bounce-to-right:hover::before {
  visibility: visible;
  transform: scaleX(1);
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0% {
    width: 0%;
  }

  70% {
    width: 100%;
  }

  80% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

/* Buzz Out */

.buzz-out {
  background-color: rgb(189, 189, 189);
  width: 300px;
  height: 50px;
  position: relative;
}

.buzz-out:hover {
  animation-name: buzzout;
  animation-duration: 1s;
}

@keyframes buzzout {
  10%,
  20% {
    transform: rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: rotate(-3deg);
  }
}

/* Bounce In */

.bounce-in {
  background-color: rgb(189, 189, 189);
  width: 300px;
  height: 50px;
  position: relative;
}

.bounce-in:hover {
  animation-name: bouncein;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes bouncein {
  80% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.3);
  }
}
